<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catosci.opencat">

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name="com.catosci.opencat.InstructionsActivity" />
        <activity android:name="com.catosci.opencat.ConnectBleActivity" />
        <activity android:name="com.catosci.opencat.OpenCatActivity" />
        <activity android:name="com.catosci.opencat.SmartCarBleActivity" />
        <activity android:name="com.catosci.opencat.SmartCarWiFiActivity" />
        <activity android:name="com.catosci.opencat.OpenCatSetupActivity" />
        <activity android:name="com.catosci.opencat.SelectBleDeviceActivity"/>
        <activity android:name="com.catosci.opencat.SelectRobotActivity"/>
        <activity android:name="com.catosci.opencat.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>